/*La partie Générale*/
.main{
     display: flex;
     flex-direction: column;
     align-items: center;
    font-family: 'Roboto', sans-serif;
    width:1100px;
}
/*La partie header*/

header{
    display: flex; 
    width: 1100px;
    height: auto;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.logo{
    display: flex;  
    order: 1;
    margin: 0%;
    
    justify-content: flex-start;   
}

nav{
    display: flex;
    margin-top: 18px;
    height: 100px;  
    align-content: flex-end;
   
}  

nav ul{
    display: flex;
    list-style-type: none;    
    padding-top: 15%; 
    
    

}

nav ul li{
    display: flex;
    align-items: stretch;
    padding-left: 10px;

}

a:hover{
    color: chocolate;
}

a:link{
    text-decoration: none;
}

nav ul li a{
    color: black;
}

/*La partie central*/

.central{  
    flex-direction: column;  
    display: flex;   
    align-items: stretch; 
    margin-top: 0%;    
}

.baniere{
    display: flex;
    background-image: url("images/backgroung_image.jpg");    
    flex-direction: column; 
    align-items: center;  
    justify-content: center;   
    height: 350px;
    width:1100px;
}

.logo-central{     
    width: 200px;
}

h1{
    display: flex;
    color: white;
    margin-top: 0;
    font-size: 30px;
}

.description{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: 28px;
    width: 1000px;
    padding-left: 5%;
}

.contenue{
    display: flex; 
    flex-direction: row;
    justify-content: space-around; 
    width: 900px;
    margin-left: 70px;
}

.graphic{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


h3{
    text-align: center;
    align-items: center;
    margin-top: 50px;
}    
    

.graphisme{
      text-align: center;  
      width: 400px;  
}

.strategie{
    text-align: center;
    width: 450px;  
}  

.illustrations {
    text-align: center;    
}

blockquote{
    display: flex;    
    flex-direction: column;
    align-items: center;    
    font-size: 22px;
}

blockquote #auteur{
    display: flex;
    order: 2;
}

footer{
    display: flex;
    width:1097px;
    flex-direction: column;
    background-color: rgb(76, 12, 179);
    color: white;
    border: 3px solid black;
}

.parafoot{
    text-align: center;
    color: white;
    font-weight: bold;
}

.reseausociaux{
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: center;

}

i{
    display: flex;
    color: gray;
    font-size: 30px;
    margin: 60px;
    

}

.divers{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

h4{
    color: gray;
}

.acces{
    color: white;
}

.acces ul li a{
    color: white;
}

.apropos{
    margin-left: 80px;   
}

.apropos ul li a{
    color:white;
}

.coordonnees{
    color: white;
    margin-left: 60px;
}

address{
    padding-left: 20px;
}
















