/*La partie Générale*/

/*La partie header*/

header{
    display: flex;
    width: 80%;
    
    height: 120px;
    flex-direction: row-reverse;
    justify-content: space-between;

}

#logo{
    display: flex;  
    order: 1;
    margin-left: 10%;
    margin-bottom: 0%;
    
}

nav{
    display: flex;
   margin-top: 18px;
    height: 100px;  
    align-content: flex-end;
}  

ul{
    display: flex;
    list-style-type: none;    
    padding-top: 15%; 
    
    

}

li{
    display: flex;
    align-items: stretch;
    padding-left: 10px;

}

a:hover{
    color: chocolate;
}

a:link{
    text-decoration: none;
}

nav ul li a{
    color: black;
}

/*La partie central*/

#central{  
    flex-direction: column;  
    width: 80%;
    margin-top: 0%;    
}

#images{
    display: flex;
    background-image: url("images/backgroung_image.jpg");    
    flex-direction: column; 
    align-items: center; 
    margin-left: 10%;   
    height: 350px;
    width: 960px;
}

.logo-central{
    order: 1;
    margin-top: 60%;
    width: 200px;
}

h1{
    color: white;
    margin-top: 0;
    font-size: 30px;
}

#description{
    display: flex;
    flex-direction: row;
    text-align: center;
    order: 2;
    justify-content: center;
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 10px;    
    font-size: 25px;
}

#description + p{
    order: 1;    
}

h3{
    text-align: center;
    align-items: center;
    margin-top: 50px;
    
    
}

#contenue{
    display: flex;  
    margin-left: 10%;
    margin-right: 10%;
    padding:20px;  
    flex-direction:row;
    justify-content:space-around;   
    
}

#graphisme{
      align-items: left;
      text-align: center;   
      
}

#strategie{
    align-items: center;
    text-align: center;
}  

#illustrations {
    align-items: right;
    text-align: center;    
}

blockquote{
    display: flex;    
    flex-direction: column;
    align-items: center;    
    font-size: 22px;
}

blockquote footer{
    display: flex;
    order: 2;
}
